  .comeco{
      background-color: cadetblue;
      align-items: center;
      justify-content: center;
      height:100px;
      width: 100%;
  }
   .yt{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
